.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    box-sizing: border-box;
    padding: 10px;
    width: max-content;
    max-width: 100%;
}

.title {
    font-size: 1.4rem;
}

.languages {
    box-sizing: border-box;
    padding: 0 10px;
    column-count: 4;
    column-width: 130px;

    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.15);
}

.language {
    box-sizing: border-box;
    padding: 10px;

    transition-duration: 0.3s;
    cursor: pointer;
}

.language:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.helpLink {
    color: var(--ui-blue);

    transition-duration: 0.3s;
}

.helpLink:hover {
    filter: brightness(1.2)
}